/* Styles media pour le resposive*/

@media screen and (min-width: 769px) {
    /* Styles pour les écrans tablettes */
}

@media screen and (max-width: 768px) {
    /* Styles pour les écrans mobiles */
}

/*Style body */

body{
    margin: 0%;
    padding: 0%;
}

/* Style Header */


.header_title{
    background-color: #4972E1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: stretch;
    width: 100%;
    height: 10vh;
}

#img_size{
    border: 3px dashed white;
    border-radius: 300%;
    margin-right: 32%;
    margin-left: 1.5%;
    width: 3.5rem;
    height: 3.5rem;
}

h1{
    text-align: center;
    font-family: 'Lakki Reddy', serif;
    color: white;
    width: 25%;
    margin: 0%;
}

.navbar_header{
    background-color: #4971e140 ;
    border: 3px solid #4972E1;
    width: 100%;
    height: 3.6rem;
}

.ul_navbar_header{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0%;
}

.style_li{
    padding: 0.5%;
    text-align: center
}

Li a {
    color: black;
    text-decoration: none;
    font-family: 'Lakki Reddy' , serif;
    font-weight: bolder;
    font-size: xx-large;
}

Li a:hover{
    transition: 0.6s;
    color: #4972E1;
}

/* Style formaulaire */

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%; 
}

#section_form {
    background-color: #F09B1A40;
    border: 6px solid #F09B1A;
    border-radius: 40px;
    text-align: center;
    width: 60rem;
    padding: 1%;
    margin-bottom: 2%;
}

h2{
    font-family: 'Lobster', sans-serif;
    font-weight: bolder;
    font-size: xx-large;
}

label{
    font-family: 'Lobster', sans-serif;
    font-weight: bolder;
    font-size: xx-large;
}

#fname{
    border: 6px solid #F09B1A;
    border-radius: 40px;
    width: 50rem;
    height: 2rem;
    margin: 1.5%;
}

#lname{
    border: 6px solid #F09B1A;
    border-radius: 40px;
    width: 50rem;
    height: 2rem;
    margin: 1.5%;
}


#email{
    border: 6px solid #F09B1A;
    border-radius: 40px;
    width: 50rem;
    height: 2rem;
    margin: 1.5%;
}


#subject{
    border: 6px solid #F09B1A;
    border-radius: 40px;
    width: 50rem;
    height: 2rem;
    margin: 1.5%;
}

#message{
    border: 6px solid #F09B1A;
    border-radius: 40px;
    width: 50rem;
    padding: 2%;
    margin: 1.5%;
}

#submit{
    background-color: #F09B1A;
    border: 6px solid #F09B1A;
    border-radius: 40px;
    font-family: 'Lobster', sans-serif;
    color: white;
    font-size: xx-large;
    font-weight: bolder;
    width: 15rem;
    padding: 1%;
    margin-top: 2%;
}

#submit:hover{
    transition: 1s;
    background-color: #4972E1;
    border: 6px solid #4972E1;
    color: black;
}

/* Style footer */

footer{
    background-color: #4971e170;
    text-align: center;
    padding: 1.5%;
}

.ul_navbar_footer{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img_size_footer{
    width: 10vh;
    height: 10vh;
}

#img_size_insta {
    width: 12vh;
    height: 12vh;
}

#img_size_FB{
    width: 7vh;
    height: 7vh;
}

#Contact_footer{
    font-family: 'Outfit', sans-serif;
    color: white;
    font-size: xx-large;
    font-weight: bolder;
    text-decoration: none;
}

#p_footer_1{
    font-family: 'Outfit', sans-serif;
    color: white;
    font-size: larger;
    text-decoration: underline;
}

#p_footer{
    font-family: 'Outfit', sans-serif;
    margin-bottom: 0%;
}