/*--------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------- Style body ----------------------------------------------------*/

body{
    margin: 0%;
    padding: 0%;
}

/*--------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------- Style Header --------------------------------------------------*/

.header_title{
    background-color: #4972E1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: stretch;
    width: 100%;
    height: 10vh;
}

#img_size{
    border: 3px dashed white;
    border-radius: 300%;
    margin-right: 32%;
    margin-left: 1.5%;
    width: 3.5rem;
    height: 3.5rem;
}

h1{
    text-align: center;
    font-family: 'Lakki Reddy', serif;
    color: white;
    width: 25%;
    margin: 0%;
}

.navbar_header{
    background-color: #4971e140 ;
    width: 100%;
    height: 2.8rem;
}

.ul_navbar_header{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0%;
}

.style_li{
    padding: 0.5%;
    text-align: center
}

Li a {
    color: black;
    text-decoration: none;
    font-family: 'Lakki Reddy' , serif;
    font-weight: bolder;
    font-size: x-large;
}

Li a:hover{
    transition: 0.6s;
    color: #4972E1;
}

/*--------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------- Dispo section 1 & 2 --------------------------------------------*/

.dispo_body_section{
    display: grid;
    justify-content: center;
}

/*--------------------------------------------------------------------------------------------------------------*/
/*-------------------------------- Style Section n°1 : Présentation -------------------------------------------*/

.section_présentation{
    border: 6px solid #F09B1A;
    border-radius: 40px;
    width: 186vh;
    margin-top: 2%;
    padding: 1.5%;
    box-shadow: 12px 0px 0px #4972E140;
}

.h2_soustitre{
    color: #4972E1;
    font-family: 'Lobster', sans-serif;
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    margin: 0%;
}

.p_presentation{
    font-family: 'Outfit', sans-serif;
    font-size: large;
    text-align: justify;
}

/*--------------------------------------------------------------------------------------------------------------*/
/*---------------------------- Style des deux sections : Compétences et parcours ------------------------------*/

.dispo_section{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

/*--------------------------------------------------------------------------------------------------------------*/
/*--------------------------- Style spécifique section Compétences techniques ---------------------------------*/

#style_section_compé{
    border: 6px solid #F09B1A;
    border-radius: 40px;
    width: 95vh;
    margin-right: 1.5%;
    padding: 1%;
    box-shadow: 12px 0px 0px #4972E140;
}

.Sub_title_section{
    display: flex;
    justify-content: space-around;
}

.section_ligne_compe{
    margin-left: 5%;
}

.dispo_table{
    display: flex;
    justify-content: center;
    padding: 1%;
}

.dispo_img_p{
    display: flex;
    align-items: center;
    width: 40vh;
}

.img_size_section{
    width: 10vh;
    height: 10vh;
    margin: 1%;
}

.style_h3_compé{
    font-family: 'Outfit', sans-serif;
    text-align: center;
    font-size: larger;
}

.p_section_comp{
    font-family: 'Outfit', sans-serif;
    font-size: large;
    text-align: left;
    margin-left: 10%;
}

/*--------------------------------------------------------------------------------------------------------------*/
/*-------------------------------- Style spécifique section parcours ------------------------------------------*/

#style_section_pré{
    text-align: center;
    border: 6px solid #F09B1A;
    border-radius: 40px;
    width: 95vh;
    margin-left: 1%;
    padding: 1%;
    box-shadow: 12px 0px 0px #4972E140;
}

.img_size_section_p{
    width: 15vh;
    height: 15vh;
}

.dispo_img_p2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 1.5%;
    padding-right: 2%;
}

.p_section_par{
    font-family: 'Outfit', sans-serif;
    text-align: left;
    width: 80%;
}

.time_section_par{
    font-family: 'Outfit', sans-serif;
}

#CV{
    font-family: 'Outfit', sans-serif;
    color: black;
}

/*--------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------- Style footer --------------------------------------------------*/

footer{
    background-color: #4971e170;
    text-align: center;
    padding: 1.5%;
}

.ul_navbar_footer{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img_size_footer{
    width: 10vh;
    height: 10vh;
}

#img_size_insta {
    width: 12vh;
    height: 12vh;
}

#img_size_FB{
    width: 7vh;
    height: 7vh;
}

#Contact_footer{
    font-family: 'Outfit', sans-serif;
    color: white;
    font-size: xx-large;
    font-weight: bolder;
    text-decoration: none;
}

#p_footer_1{
    font-family: 'Outfit', sans-serif;
    color: white;
    font-size: larger;
    text-decoration: underline;
}

#p_footer{
    font-family: 'Outfit', sans-serif;
    margin-bottom: 0%;
}

/*------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------- Styles media pour le resposive ------------------------------------------------*/

@media screen and (min-width: 769px) {
    /* Styles pour les écrans tablettes */
}

@media screen and (max-width: 768px) {
    /* Styles pour les écrans mobiles */
    /*------- Style header ---------*/

    h1{
        text-align: center;
        font-family: 'Outfit', sans-serif;
        color: white;
        font-size: large;
        margin: 0%;
    }

    #img_size{
        border: 3px dashed white;
        border-radius: 300%;
        margin-right: 25%;
        margin-left: 1.5%;
        width: 3rem;
        height: 3rem;
    }

    .navbar_header{
        background-color: #4971e140 ;
        width: 100%;
        height: 2rem;
    }

    Li a {
        color: black;
        text-decoration: none;
        font-family: 'Outfit', sans-serif;
        font-weight: bolder;
        font-size: large;
    }

    /*------ Style section présentation -------*/

    .section_présentation{
        border: 6px solid #4972E1;
        border-radius: 40px;
        width:88%;
        margin: 2%;
        padding: 2%;
        box-shadow: none;
    }

    .h2_soustitre{
        color: #F09B1A;
        font-family: 'Lobster', sans-serif;
        text-align: center;
        font-size: x-large;
        font-weight: bolder;
        margin: 0%;
    }

    .p_presentation{
        font-family: 'Outfit', sans-serif;
        font-size: medium;
        text-align: justify;
    }

    .dispo_section{
        display: grid;
        justify-content: center;
    }

    /*------ Style section compétance & parcours -------*/
    
    #style_section_compé{
        border: 6px solid #4972E1;
        border-radius: 40px;
        width: 90%;
        margin: 2%;
        padding: 1%;
        box-shadow: none;
    }

    .section_ligne_compe{
        margin-left: 0%;
    }

    .style_h3_compé{
        font-family: 'Outfit', sans-serif;
        font-size: small;
    }

    .p_section_comp{
        font-family: 'Outfit', sans-serif;
        font-size: small;
    }

    .dispo_img_p{
        display: flex;
        width: 20vh;
    }

    .img_size_section{
        width: 6vh;
        height: 6vh;
    }
 
    #style_section_pré{
        border: 6px solid #4972E1;
        border-radius: 40px;
        width: 90%;
        margin: 2%;
        padding: 1%;
        box-shadow: none;
    }

    .img_size_section_p{
        width: 10vh;
        height: 10vh;
    }

    .p_section_par{
        font-family: 'Outfit', sans-serif;
        font-size: small;
        text-align: left;
    }

    .time_section_par{
        font-size: small;
    }

    /*--------------------------------------------------------------------------------------------------------------*/
    /*--------------------------------------------- Style footer --------------------------------------------------*/

    #Contact_footer{
        font-family: 'Outfit', sans-serif;
        color: white;
        font-size: large;
        font-weight: bolder;
        text-decoration: none;
    }

    #p_footer_1{
        font-family: 'Outfit', sans-serif;
        color: white;
        font-size: medium;
        text-decoration: underline;
    }

    .img_size_footer{
        width: 7vh;
        height: 7vh;
    }
    
    #img_size_insta {
        width: 9vh;
        height: 9vh;
    }
    
    #img_size_FB{
        width: 5vh;
        height: 5vh;
    }
}